@import "../../scss/style.scss";

.ingredients {
  background-image: url("/static/flower.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75rem;
  position: relative;
  z-index: 7;
  .container {
    width: 56rem;
    background-color: black;
    opacity: 0.6;
    padding: 8rem 7rem;
    text-align: center;
    position: absolute;
    top: 13%;
    right: 13%;
    .ingredients__title {
      font-family: $font-family2;
      font-size: 3.6rem;
      color: white;
    }
    .ingredients__desc {
      font-size: 1.6rem;
      color: $primary;
      color: white;
      margin: 3rem auto 5rem;
      width: 100%;
    }
    .ingredients__img {
        
        img{
            width: 25%;
            margin: auto 1rem;
        }
    }
  }
}


@media screen and (max-width: 768px){
    .ingredients{
        .container{ 
            padding: 4rem 3rem;
            width: 90%;
            .ingredients__title{
                font-size: 3rem;
            }
            width:70%;
        }
    }
}
@media screen and (max-width: 576px){
    .ingredients{
        .container{
            .ingredients__title{
                font-size: 2rem;
            }
            .ingredients__desc{
                font-size: 1.4rem;
            }
            
            
        }
    }
}