@import '../../scss/style.scss';

.food{
    background-image: url('/static/foodBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 71rem;
    
}