@import "../../scss/style.scss";

.woopra__header {
  background-color: transparent;
  @include position(fixed, 0, 0, 0, null);
  z-index: 9;
  height: 100px;
  display: flex;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;

  .woopra__header__container {
    max-width: 90vw;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;

    .woopra__nav__main {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      width: 100%;
      .woopra__nav__brand {
        max-width: 120px;
        img {
          width: 100%;
        }
      }
      .woopra__nav__btn__hiring {
        @include button(
          linear-gradient(to right, #3682fc 0%, #3784f0 25%, #23acf6 100%),
          white,
          1rem,
          0.5rem 1rem,
          1rem
        );
        font-weight: 600;
        margin-left: 3rem;
        text-decoration: none;
        line-height: 1rem;
      }
      .woopra__nav__primary {
        margin: 0 auto;
        .woopra__nav__list {
          @include flex(row, content, null, null);
          .woopra__nav__item {
            margin: 0 1.5rem;
            position: relative;
            .woopra__nav__link {
              @include text(white, 1.2rem, 600);
              text-transform: uppercase;
              padding: 5rem 0;
              &:hover {
                color: #e625a4;
              }
              &:hover .woopra__submenu {
                visibility: visible;
                opacity: 1;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
              }

              // submenu
              .woopra__submenu {
                visibility: hidden;
                opacity: 0;
                min-width: 300px;
                @include flex(column, null, null, null);
                position: absolute;
                top: 50px;
                left: 0;
                padding: 1rem 2rem;
                background-color: #eee;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
                &::before {
                  content: "";

                  border-bottom: 10px solid #eee;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  position: absolute;
                  top: -8px;
                  left: 25px;
                }
                .woopra__submenu__item {
                  margin: 1.5rem 0;
                  position: relative;
                  .woopra__submenu__link {
                    @include text(black, 1.6rem, 600);
                    text-transform: capitalize;
                    &:hover {
                      color: #e625a4;
                    }
                  }
                  .woopra__submenu__link__content {
                    @include text(#6b8aa2, 0.9rem, 600);
                    margin-top: 1rem;
                  }
                }
              }
              .woopra__submenu__mobile {
                display: none;
              }
            }

            .woopra__nav__link.hasDropdown::before {
              content: "";
              background-image: url("/static/img/icn-arrow-down--white.svg");
              width: 1rem;
              height: 1rem;
              background-repeat: no-repeat;
              background-position: center;
              margin: auto;
              top: 0;
              bottom: 0;
              right: -15px;
              position: absolute;
            }
          }
        }
      }
      .woopra__nav__secondary {
        .woopra__nav__btn__login {
          @include text(white, 1.3rem, 600);
          text-transform: uppercase;
          &:hover {
            color: #e625a4;
          }
        }
        .woopra__nav__btn__start {
          @include button(transparent, white, 1.4rem, 1rem 1.7rem, 2rem);
          text-transform: uppercase;
          font-weight: 600;
          text-decoration: none;
          letter-spacing: 2px;
          border: 3px solid white;
          margin-left: 3rem;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          &:hover {
            background: #e625a4;
            border: 3px solid #e625a4;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
          }
        }
        .woopra__nav__btn__start.changeColor {
          @include button(#e625a4, white, 1.4rem, 1rem 1.7rem, 2rem);
        }
      }
    }
    .woopra__nav__brand__mobile {
      display: none;
    }
  }
}
.woopra__header.scroll {
  background: linear-gradient(190deg, #473bff 25%, #2e7ffe 55%, #01aefe 100%);
  height: 60px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
}
.btn__collapse {
  display: none;
  color: white;
  font-size: 2.5rem;
}

@media screen and (max-width: 1063px) {
  .woopra__header {
    .woopra__header__container {
      .woopra__nav__main {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        // flex-direction: column;
        flex-wrap: wrap;
        display: none;
        .woopra__nav__btn__hiring {
          // margin-left: 0;
          display: none;
        }
        .woopra__nav__primary {
          margin-top: 0;
          margin-bottom: 3rem;

          .woopra__nav__list {
            flex-direction: column;
            .woopra__nav__item {
              margin: 1rem 0;
              .woopra__nav__link {
                padding: 0;
                .woopra__submenu {
                  display: none;
                }
                .woopra__submenu__mobile {
                  display: block;
                  // visibility: hidden;
                  border-left: 1px dotted #eee;
                  margin-left: 1rem;
                  .woopra__submenu__mobile__main {
                    margin-top: 1rem;
                    .woopra__submenu__mobile__item {
                      margin: 1.5rem 0.5rem;
                      .woopra__submenu__mobile__link {
                        @include text(#eee, 1rem, 600);
                        text-transform: uppercase;
                        &:hover {
                          color: #e625a4;
                        }
                      }
                    }
                  }
                }
              }
              .woopra__nav__link.hasDropdown::before {
                background-image: none;
              }
            }
          }
        }

        .woopra__nav__secondary {
          .woopra__nav__btn__login {
            @include text(white, 1rem, 600);
          }
          .woopra__nav__btn__start {
            @include button(transparent, white, 1rem, 1rem 1.7rem, 2rem);
            text-transform: uppercase;
            margin-left: 3rem;
          }
        }
      }
      .woopra__nav__brand__mobile {
        display: block;
        max-width: 140px;
        img {
          width: 100%;
        }
      }

      .btn__collapse {
        display: block;
        position: fixed;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        text-align: center;
        line-height: 4rem;
        z-index: 10;
      }
      .woopra__nav__bg {
        position: fixed;
        top: 2rem;
        right: 2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 5rem;
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        -ms-border-radius: 5rem;
        -o-border-radius: 5rem;
        text-align: center;
        background-color: #473bff;
        z-index: 0;
        transition: transform 0.25s linear;
        -webkit-transition: transform 0.25s linear;
        -moz-transition: transform 0.25s linear;
        -ms-transition: transform 0.25s linear;
        -o-transition: transform 0.25s linear;
      }

      .inp__collapse:checked + .woopra__nav__bg {
        transform: scale(50);
        -webkit-transform: scale(50);
        -moz-transform: scale(50);
        -ms-transform: scale(50);
        -o-transform: scale(50);
      }
      .inp__collapse:checked ~ .woopra__nav__main {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        display: block;
        position: absolute;
        top: 0;
        height: 100vh;
        overflow-y: auto;
      }
      .inp__collapse:checked ~ .woopra__nav__brand__mobile {
        display: none;
      }
    }
  }
}
